/* Definició d'estil de pàgines de documentació */

body {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.3vw;
}
h1,h2,h3,h4,h5 {
    font-family: 'Pacifico', cursive;
    color: #073763;
}
.logo {
    width: 15vw;
}
.ra {
    text-align: right;
}
.footer {
    text-align: right;
    font-family: 'Pacifico', cursive;
}
.mainColumn {
    width: 50%;
    margin: auto;
}
a {
    text-decoration: none;
    padding: 2px 2px;
    color: #073763;
}
a:visited { color: #073763; }
a:hover   { color: #275783; }
a:active  { color: #4777A3; }

/* Gestió de mida de pantalla (css media query) */
@media only screen and (max-width: 1000px) {
    /* Mobils <= 1000 px teórics */
    body  { font-size: 3.5vw; }
    .logo { width: 25vw; }
    .mainColumn { width: 95% }
}
@media only screen and (max-width: 1500px) and (min-width: 1000px) {
    /* Tablets/Pantalles mitjanes <= 1500 px teórics */
    body  { font-size: 2vw; }
    .logo { width: 25vw; }
    .mainColumn { width: 75% }
}
